openapi: 3.0.3

info:
  title: 恶俗投票平台 API
  description: |
    在线投票与社区动态平台 API 文档。

    **认证方式**：Bearer Token (JWT)
    **基础 URL**：https://votehub.silentnrtx.top/api

    ---

    ## 认证流程

    ```mermaid
    sequenceDiagram
      participant U as 用户
      participant C as 客户端
      participant S as 服务器

      U->>C: 输入邮箱密码
      C->>S: POST /auth/login
      S-->>C: 200 { success: true }
      Note over C: 保存 JWT cookie
      C->>S: GET /profile (带 cookie)
      S-->>C: 200 { data: UserProfile }
      C-->>U: 显示用户信息
    ```

    ---

    ## 响应格式

    | 类型 | 格式 |
    |------|------|
    | 成功 | `{ data: T, pagination?: Pagination }` |
    | 错误 | `{ error: string }` |
    | 列表 | `{ data: T[], pagination: Pagination }` |

    ---

    ## 错误码说明

    | HTTP 状态码 | 含义 | 常见原因 |
    |-------------|------|----------|
    | `400` | 请求无效 | 参数缺失、格式错误、业务校验失败 |
    | `401` | 未认证 | 未登录、token 过期、token 无效 |
    | `403` | 无权限 | 非管理员、非本人操作 |
    | `404` | 资源不存在 | ID 错误、资源已删除 |
    | `429` | 请求过于频繁 | 超过频率限制 |
    | `500` | 服务器错误 | 内部异常（请联系管理员） |

    ---

    ## 频率限制

    | 接口 | 限制 |
    |------|------|
    | `POST /auth/login` | 5 次/分钟 |
    | `POST /users` | 2 次/分钟（无验证码） |
    | `POST /polls` | 10 次/分钟 |
    | `POST /posts` | 5 次/分钟 |
    | `POST /posts/{id}/likes` | 30 次/分钟 |
    | 其他写入接口 | 10 次/分钟 |

    ---

    ## 分页参数

    | 参数 | 类型 | 默认值 | 说明 |
    |------|------|--------|------|
    | `page` | integer | 1 | 页码 |
    | `limit` | integer | 20 | 每页数量（最大 50） |

    分页响应格式：
    ```json
    {
      "pagination": {
        "page": 1,
        "limit": 20,
        "total": 100,
        "totalPages": 5
      }
    }
    ```
  version: "1.14.0"
  contact:
    name: Silentnrtx
    url: https://github.com/Chinasd1st
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://votehub.silentnrtx.top/api
    description: 生产环境

security: []

tags:
  - name: Auth
    description: 认证相关
  - name: Polls
    description: 投票管理
  - name: Votes
    description: 投票操作
  - name: Poll Comments
    description: 投票评论
  - name: Posts
    description: 推文管理
  - name: Post Comments
    description: 推文评论
  - name: Post Likes
    description: 推文点赞
  - name: Profile
    description: 用户资料
  - name: Follows
    description: 关注系统
  - name: Notifications
    description: 通知系统
  - name: Sessions
    description: 登录设备管理
  - name: Bindings
    description: 账号绑定
  - name: Topics
    description: 主题分类
  - name: Reports
    description: 举报系统
  - name: Ostracism
    description: 放逐提案
  - name: Blocks
    description: 用户屏蔽
  - name: Admin
    description: 管理后台
  - name: Settings
    description: 账号设置
  - name: Utility
    description: 工具接口

paths:
  /auth/login:
    $ref: "./paths/auth.yaml#/~1auth~1login"
  /users:
    $ref: "./paths/auth.yaml#/~1users"
  /polls:
    $ref: "./paths/polls.yaml#/~1polls"
  /polls/{id}:
    $ref: "./paths/polls.yaml#/~1polls~1{id}"
  /polls/{id}/vote:
    $ref: "./paths/votes.yaml#/~1polls~1{id}~1vote"
  /polls/{id}/comments:
    $ref: "./paths/poll-comments.yaml#/~1polls~1{id}~1comments"
  /polls/{id}/clone:
    $ref: "./paths/poll-operations.yaml#/~1polls~1{id}~1clone"
  /polls/{id}/export:
    $ref: "./paths/poll-operations.yaml#/~1polls~1{id}~1export"
  /polls/{id}/share:
    $ref: "./paths/poll-operations.yaml#/~1polls~1{id}~1share"
  /polls/{id}/bookmark:
    $ref: "./paths/poll-operations.yaml#/~1polls~1{id}~1bookmark"
  /bookmarks:
    $ref: "./paths/bookmarks.yaml#/~1bookmarks"
  /posts:
    $ref: "./paths/posts.yaml#/~1posts"
  /posts/{id}:
    $ref: "./paths/posts.yaml#/~1posts~1{id}"
  /posts/{id}/likes:
    $ref: "./paths/post-operations.yaml#/~1posts~1{id}~1likes"
  /posts/{id}/comments:
    $ref: "./paths/post-operations.yaml#/~1posts~1{id}~1comments"
  /profile:
    $ref: "./paths/profile.yaml#/~1profile"
  /profile/password:
    $ref: "./paths/profile.yaml#/~1profile~1password"
  /profile/{id}:
    $ref: "./paths/profile.yaml#/~1profile~1{id}"
  /profile/{id}/followers:
    $ref: "./paths/profile.yaml#/~1profile~1{id}~1followers"
  /profile/{id}/following:
    $ref: "./paths/profile.yaml#/~1profile~1{id}~1following"
  /profile/{id}/votes:
    $ref: "./paths/profile.yaml#/~1profile~1{id}~1votes"
  /follows/{id}:
    $ref: "./paths/follows.yaml#/~1follows~1{id}"
  /notifications:
    $ref: "./paths/notifications.yaml#/~1notifications"
  /sessions:
    $ref: "./paths/sessions.yaml#/~1sessions"
  /sessions/{id}:
    $ref: "./paths/sessions.yaml#/~1sessions~1{id}"
  /bindings:
    $ref: "./paths/bindings.yaml#/~1bindings"
  /bindings/{id}:
    $ref: "./paths/bindings.yaml#/~1bindings~1{id}"
  /topics:
    $ref: "./paths/topics.yaml#/~1topics"
  /topics/{id}:
    $ref: "./paths/topics.yaml#/~1topics~1{id}"
  /admin/users:
    $ref: "./paths/admin.yaml#/~1admin~1users"
  /admin/stats:
    $ref: "./paths/admin.yaml#/~1admin~1stats"
  /reports:
    $ref: "./paths/reports.yaml#/~1reports"
  /reports/check:
    $ref: "./paths/reports.yaml#/~1reports~1check"
  /admin/reports:
    $ref: "./paths/bans.yaml#/~1admin~1reports"
  /admin/reports/{id}:
    $ref: "./paths/bans.yaml#/~1admin~1reports~1{id}"
  /admin/bans:
    $ref: "./paths/bans.yaml#/~1admin~1bans"
  /admin/bans/{id}:
    $ref: "./paths/bans.yaml#/~1admin~1bans~1{id}"
  /users/{id}/ban-status:
    $ref: "./paths/bans.yaml#/~1users~1{id}~1ban-status"
  /ostracism:
    $ref: "./paths/ostracism.yaml#/~1ostracism"
  /ostracism/resolve:
    $ref: "./paths/ostracism.yaml#/~1ostracism~1resolve"
  /ostracism/{id}:
    $ref: "./paths/ostracism.yaml#/~1ostracism~1{id}"
  /ostracism/{id}/second:
    $ref: "./paths/ostracism.yaml#/~1ostracism~1{id}~1second"
  /ostracism/{id}/defense:
    $ref: "./paths/ostracism.yaml#/~1ostracism~1{id}~1defense"
  /ostracism/{id}/vote:
    $ref: "./paths/ostracism.yaml#/~1ostracism~1{id}~1vote"
  /blocks:
    $ref: "./paths/blocks.yaml#/~1blocks"
  /blocks/{id}:
    $ref: "./paths/blocks.yaml#/~1blocks~1{id}"
  /settings/email:
    $ref: "./paths/settings.yaml#/~1settings~1email"
  /settings/oauth:
    $ref: "./paths/settings.yaml#/~1settings~1oauth"
  /settings/oauth/{provider}:
    $ref: "./paths/settings.yaml#/~1settings~1oauth~1{provider}"
  /turnstile:
    $ref: "./paths/settings.yaml#/~1turnstile"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: NextAuth JWT Session Token

  schemas:
    Pagination:
      $ref: "./schemas/common.yaml#/Pagination"
    ErrorResponse:
      $ref: "./schemas/common.yaml#/ErrorResponse"
    UserSummary:
      $ref: "./schemas/user.yaml#/UserSummary"
    UserProfile:
      $ref: "./schemas/user.yaml#/UserProfile"
    PollSummary:
      $ref: "./schemas/poll.yaml#/PollSummary"
    PollDetail:
      $ref: "./schemas/poll.yaml#/PollDetail"
    PollOption:
      $ref: "./schemas/poll.yaml#/PollOption"
    PostSummary:
      $ref: "./schemas/post.yaml#/PostSummary"
    Comment:
      $ref: "./schemas/comment.yaml#/Comment"
    Notification:
      $ref: "./schemas/notification.yaml#/Notification"
    Topic:
      $ref: "./schemas/topic.yaml#/Topic"
    LoginSession:
      $ref: "./schemas/session.yaml#/LoginSession"
    Binding:
      $ref: "./schemas/binding.yaml#/Binding"
    AdminStats:
      $ref: "./schemas/admin.yaml#/AdminStats"
    OstracismProposal:
      type: object
      properties:
        id:
          type: string
        targetId:
          type: string
        proposerId:
          type: string
        reason:
          type: string
        defense:
          type: ["string", "null"]
        status:
          type: string
          enum: [collecting, voting, passed, rejected, expired]
        votesFor:
          type: integer
        votesAgainst:
          type: integer
        secondsCount:
          type: integer
        createdAt:
          type: integer
        updatedAt:
          type: integer

    IRVResult:
      type: object
      description: 即时决选（IRV）排序结果
      properties:
        winner:
          type: ["string", "null"]
          description: 获胜选项 ID（平局或无票时为 null）
        rounds:
          type: array
          items:
            type: object
            properties:
              round:
                type: integer
                description: 轮次编号（从 1 开始）
              counts:
                type: object
                additionalProperties:
                  type: integer
                description: 各选项的第一选择票数
              eliminated:
                type: array
                items:
                  type: string
                description: 已淘汰的选项 ID 列表
              transferred:
                type: object
                description: "票数转移记录 (key: fromId->toId)"
                additionalProperties:
                  type: object
                  properties:
                    from:
                      type: string
                    to:
                      type: string
                    count:
                      type: integer
              winner:
                type: ["string", "null"]
                description: 本轮获胜者（无获胜者时为 null）
        totalVoters:
          type: integer
          description: 投票总人数

    SchulzeResult:
      type: object
      description: Schulze 排序方法结果
      properties:
        winner:
          type: ["string", "null"]
          description: 获胜选项 ID
        pairwise:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
          description: 两两偏好矩阵（d[i][j] = 偏好 i 胜过 j 的人数）
        margins:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
          description: 优势矩阵（m[i][j] = d[i][j] - d[j][i]）
        strongestPath:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
          description: 最强路径矩阵（Floyd-Warshall 结果）
        ranking:
          type: array
          items:
            type: string
          description: 选项 ID 排序（从强到弱）
        totalVoters:
          type: integer
          description: 投票总人数

    ConditionalResult:
      type: object
      description: 条件投票的步骤结果
      properties:
        stepId:
          type: string
          description: 步骤 ID
        title:
          type: string
          description: 步骤标题
        type:
          type: string
          enum: [single, multiple, ranked, weighted, approval]
          description: 步骤投票类型
        totalVoters:
          type: integer
          description: 参与该步骤的人数
        results:
          type: array
          items:
            type: object
            properties:
              optionId:
                type: string
              label:
                type: string
              votes:
                type: integer
              percentage:
                type: number
                format: float
              totalWeight:
                type: number
                format: float
                description: 加权投票的总权重
              avgWeight:
                type: number
                format: float
                description: 加权投票的平均权重
        rankings:
          type: array
          items:
            type: object
            properties:
              optionId:
                type: string
              label:
                type: string
              rank:
                type: integer
          description: 排名结果（仅 ranked 类型）
        approvals:
          type: array
          items:
            type: object
            properties:
              optionId:
                type: string
              label:
                type: string
              approve:
                type: integer
              neutral:
                type: integer
              oppose:
                type: integer
          description: 批准结果（仅 approval 类型）

    FunnelData:
      type: object
      description: 条件投票的漏斗数据
      properties:
        stepId:
          type: string
        title:
          type: string
        participantCount:
          type: integer
          description: 参与人数
        eligibleCount:
          type: integer
          description: 有资格进入下一步的人数
        completionRate:
          type: number
          format: float
          description: 完成率（0-1）

    FlowData:
      type: object
      description: 条件投票的流转数据（Sankey 图）
      properties:
        fromStepId:
          type: string
        fromLabel:
          type: string
        toStepId:
          type: string
        toLabel:
          type: string
        count:
          type: integer
          description: 从上一步选项流转到下一步选项的人数

  responses:
    UnauthorizedError:
      $ref: "./schemas/common.yaml#/UnauthorizedError"
    ForbiddenError:
      $ref: "./schemas/common.yaml#/ForbiddenError"
    NotFoundError:
      $ref: "./schemas/common.yaml#/NotFoundError"
    BannedError:
      $ref: "./schemas/common.yaml#/BannedError"
